body{background:#eeeeee; font-size:12px;}
.container{width:1170px;}

.row-container{margin-top:70px; margin-bottom:30px;}
.login-tr{height:50px;}
.login-key{width:70px; text-align:right; padding-right:10px;}
.login-table input{width:280px; padding-left:7px;}
.login-verify{width:170px !important; float:left;}
.login-verify-img{width:100px; height:35px; padding-left:10px; float:left;}
.modal-footer{text-align: center;}


.w120{width:120px;}
.w220{width:220px;}
.float-left{float:left; }
.margin-right-30{margin-right:30px; }
.margin-left-10{margin-left:10px; }
.margin-top-20{margin-top:20px; }
.margin-top-5{margin-top:20px;}
.margin-bottom-30{margin-bottom:30px; }

.color-red{color: red; }
.border-red{border: 1px solid red; }

.emi-button{text-align: center;}
.emi-key span{color: red; font-weight: bold;}
.emi-key3 span{color: red; font-weight: bold;}
.emi-key{width:140px; height:35px; font-weight: bold; font-size:15px; text-align: right;}
.emi-key2{width:140px; height:70px; font-weight: bold; font-size:14px; text-align: right;}
.emi-key3{font-weight: bold; font-size:10px; }
.emi-box{width:100%; margin:16px; padding-right:100px; padding-left:100px; padding-top:50px; padding-bottom:50px; background:#FFFFFF; border-radius:5px; }
.emi-box2{width:100%; margin:16px; padding-right:100px; padding-left:100px; padding-top:50px; padding-bottom:50px; background:#eeeeee; border-radius:5px; }
.emi-title{display: block; width£º100%; height:35px; font-size:25px; text-align: center; font-family: 'Î¢ÈíÑÅºÚ';}
.emi-input{width:150px; height:26px; }
.emi-input2{width:650px; height:72px; }
.emi-input3{width:300px; height:42px; }
.emi-select{width: 150px; height: 26px; margin-right: 12px;}


